.footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.copyright {
  text-align: right;
}

@media (max-width: 400px) {
  .footer-container {
    flex-direction: column;
    width: 90%;
    align-items: center;
  }

  .copyright {
    text-align: left;
  }
}
