.sidebar {
  display: none;
}

.profile__root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 20px;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;

  .profile__title-root {
    font-size: 38px;
  }

  .profile__profileBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: self-start;
    gap: 10px;
    width: 100%;

    .profile__title {
      display: inline-block;
      margin: 0 10px 30px 0;
      font-family: Verdana, sans-serif;
      font-weight: 500;
      font-size: 28px;
    }

    .profile__edit-link {
      display: inline-block;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-style: italic;
      font-size: 16px;
      color: #0071e6;
      user-select: none;
      cursor: pointer;

      &:hover {
        color: #ff9900;
      }
    }

    .profile__list {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;

      .profile__item {
        list-style-type: none;

        .profile__label {
          display: inline-flex;
          width: 160px;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #72767d;
        }

        .profile__personalData {
          display: inline-block;
          font-family: 'Times New Roman', Times, serif;
          font-weight: 600;
          font-size: 30px;
        }
      }
    }
  }

  .profile__addressesBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: self-start;
    gap: 10px;
    width: 100%;

    .profile__title {
      margin: 30px 10px 10px 0;
      font-family: Verdana, sans-serif;
      font-weight: 500;
      font-size: 28px;
    }
  }
}
