.address__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  width: 100%;
  background-color: #d4fdee;
  border: 1px solid #02b875;
  border-radius: 5px;

  .address__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #72767d;
  }
}

.shipping {
  background-color: #fde6d4;
  border: 1px solid #b88e02;
}

@media (max-width: 640px) {
  .profile__personalData {
    font-size: 20px !important;
  }

  .profile__address-string {
    font-size: 20px;
  }
}

@media (max-width: 430px) {
  .profile__address-string {
    font-size: 14px;
  }
}
