.registration__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 60%;
  background-color: #bbbbbb;

  .registration__profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    padding: 15px;
    width: 90%;
  }

  .registration__address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    padding: 15px;
    width: 90%;
  }

  .label {
    display: flex;
    justify-content: space-between;
    width: 100%;

    input {
      width: 60%;
    }
  }

  .massage-error {
    height: 20px;
    align-self: end;
    font-size: 12px;
  }

  input:valid {
    background-color: #7bff82;
  }

  input:invalid {
    background-color: #ffcbcbce;
  }

  .registration__btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90px;
    height: 50px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    color: #000000;
    background-color: #ffe136;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }

  .registration__btn-submit:hover {
    background-color: #c6ff5d;
  }

  .registration__btn-submit:active {
    background-color: #ffb95d;
    box-shadow: 0px 5px 10px 2px #223c5033 inset;
  }

  .registration__btn-submit:disabled {
    background-color: #c7c7c7;
    color: #ffffff;
    pointer-events: none;
    user-select: none;
  }
}
