.registration__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin: 0 auto;
  width: 50%;
  border-radius: 15px;
  box-shadow: 0 4px 24px 0 rgba(86, 91, 115, 0.15);
}

.registration__profile,
.registration__address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 90%;
  border-radius: 15px;
  border: 1px solid #009700
}

.registration__legend {
  font-weight: 600;
  padding: 10px;
  font-size: 1.5rem;
}

// .registration__address {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
//   margin: 15px;
//   padding: 15px;
//   width: 90%;
// }

.label {
  display: flex;
  justify-content: space-between;
  width: 100%;

  span {
    font-style: italic;
  }

  input {
    margin-right: 10px;
    width: 60%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }

  input:valid {
    background-color: #c9f8cc;
  }

  input:invalid {
    background-color: #ffd2d2;
  }
}

.registration__massage-error {
  height: 20px;
  align-self: end;
  font-size: 10px;
  color: #7a7a7a;
}

.registration__btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 10px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  background-color: #009700;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.registration__btn-submit:hover {
  background-color: #0011ff;
}

.registration__btn-submit:active {
  background-color: #ffb95d;
  box-shadow: 0px 5px 10px 2px #223c5033 inset;
}

.registration__btn-submit:disabled {
  background-color: #c7c7c7;
  color: #ffffff;
  pointer-events: none;
  user-select: none;
}

.registration__btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #dddddd;
  border: 1px solid #7a7a7a;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    color: #ffffff;
    background-color: #009700;
  }

  &:active {
    background-color: #ff9900;
  }
}

@media (max-width: 1100px) {

  .label {
    justify-content: center;

    span {
      display: none;
    }

    input {
      width: 100%;
    }
  }
}

@media (max-width: 680px) {
  
  .registration__form {
    width: 100%;
  }
}