* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: 0px; // для Firefox
}

body {
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  background-color: #535461;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar { //для Chrome, Edge и Safari
  width: 0px;
}
