// global variables
$max-width: 1200px;
$max-height: 800px;
$default-color: #000000;
$background-color: #ffffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: 0px;
  list-style-type: none;
}

*::-webkit-scrollbar {
  width: 0px;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

body {
  font-family: 'Courier New', Courier, monospace;
  color: $default-color;
  scroll-behavior: smooth;
  background-color: $background-color;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  // max-width: $max-width;
  height: 100%;
  margin: 0 auto;
}

/* Overlay loading */
.loading-overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(16, 16, 16, 0.5);
}

.loading-overlay.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Spinner styles */
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* message overlay */
#message-container {
  position: fixed;
  top: 20px;
  right: -300px;
  width: 250px;
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: right 0.5s ease-in-out;
  z-index: 1000;
}

#message-container.active {
  right: 20px;
}

#message-container.sucsess {
  background-color: #ddf8d7;
  color: #26721c;
  border: 1px solid #ddf5c6;

  .message-close-button {
    color: #26721c;
  }
}

.message-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-text {
  flex-grow: 1;
  padding-right: 10px;
}

.message-close-button {
  background: none;
  border: none;
  color: #721c24;
  font-weight: bold;
  cursor: pointer;
}

/* Rating */
.bi {
  color: #babd42;
}

.rating {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.rating .review {
  font-size: 14px;
  font-weight: 500;
  color: #363062;
  padding-left: 30px;
}

.bi-person {
  font-size: 20px;
  color: #0066ff;
  font-weight: 500;
  padding-right: 5px;
}

.profile-name {
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
}
